/* Resize the image */
img {
  height: 150px;
}

/* Increase font size of the description */
.description {
  font-size: 20px;
}

/* Make the cooking time bold */
#cook-time {
  font-weight: bold;
}

/* Change the bullet points of the ingredients list to squares */
.ingredients li {
  list-style: square;
}

/* Make the preparation time gray */
p.time {
  color: gray;
}

/* Change the color of the external link */
.external-link {
  color: SeaGreen;
}

/* Apply Helvetica font to headings, paragraphs, and list items */
h1, h2, p, li {
  font-family: Helvetica;
}
